services:
  api:
    build:
      context: ..
      dockerfile: api.Dockerfile
    environment:
      DB_URL: postgresql+psycopg://postgres:postgres@postgres:5432/smsdb
      JWT_SECRET: changeme
    ports:
      - "8010:8000"
    depends_on:
      - postgres
  web:
    build:
      context: ../web
      dockerfile: Dockerfile
    ports:
      - "5183:80"
    depends_on:
      - api
